extends ../partials/header.pug
block content 
  .all-main-wrapper 
    .welcome-wrapper 
      h1 #{school.name}
      span #{school.corporate_email}
      span #{school.address}
    form(action="/admin/create/tutor", method="post").add-item-wrapper
      h2 Add a Tutor to your program
      input#tutor-name(type="text", name="name" placeholder="Name" required).each-input
      input#tutor-surname(type="text", name="surname" placeholder="Surname" required).each-input
      .email-section
        input#tutor-email(type="text", name="email" placeholder="E-mail before '@'" required).each-input
        span @#{school.corporate_email.split("@")[1]}
      input#tutor-school-number(type="number", name="school_number" placeholder="School number" required).each-input
      input#tutor-password(type="text", name="password" placeholder="Password (TC ID Number)" required).each-input
      select#tutor-level(name="level" required).each-input Level
        option(value="prep") Prepatory Class
        option(value="9") 9 Freshman
        option(value="10") 10 Sophomore
        option(value="11") 11 Junior
        option(value="12") 12 Senior
      input(style="display:none" value=school._id name="schoolId")
      input(type="submit" value="Add new tutor" required).submit-button#add-new-tutor
    form(action="/admin/create/student", method="post").add-item-wrapper
      h2 Add a Student to your program
      input#student-name(type="text", name="name" placeholder="Name" required).each-input
      input#student-surname(type="text", name="surname" placeholder="Surname" required).each-input
      .email-section
        input#student-email(type="text", name="email" placeholder="E-mail before '@'" required).each-input
        span @#{school.corporate_email.split("@")[1]}
      input#student-school-number(type="number", name="school_number" placeholder="School number" required).each-input
      input#student-password(type="text", name="password" placeholder="Password (TC ID Number)" required).each-input
      select#student-level(name="level" required).each-input Level
        option(value="prep") Prepatory Class
        option(value="9") 9 Freshman
        option(value="10") 10 Sophomore
        option(value="11") 11 Junior
        option(value="12") 12 Senior
      input(style="display:none" value=school._id name="schoolId")
      input(type="submit" value="Add new student").submit-button#add-new-student
  .members-wrapper 
    .each-member-type-wrapper
      h3 Tutors
      each tutor in tutors 
        .each-member-content 
          span #{tutor.name} #{tutor.surname}
          span #{tutor.level}
          span #{tutor.school_number}
          span #{tutor.email}
    .each-member-type-wrapper
      h3 Students
      each student in students 
        .each-member-content 
          span #{student.name} #{student.surname}
          span #{student.level}
          span #{student.school_number}
          span #{student.email}