extends ./partials/header.pug
block content 
  .all-main-wrapper 
    .create-lesson-absolute-wrapper
      .create-lesson-day-options-wrapper 
        .create-lesson-each-column-title Available Days
        .create-lesson-each-column-content-wrapper
        each slotDay in slotDateMapping
          .each-available-day-content #{(new Date(slotDay[0].date)).toLocaleDateString("en-EN", {day: "numeric", month: "long", weekday: "long"})}
          div(style="display:none;")
            div #{slotDay[0].date}
            div #{tutor.link}
            div #{tutor.name} #{tutor.surname}
            div 
              each slotObj in slotDay
                div #{slotObj.startTime}-#{slotObj.finishTime}_#{slotObj.isAvailable}_#{slotObj._id}
            div #{tutor._id}
      #create-lesson-time-display-content.create-lesson-each-day-time-slots-wrapper
        .create-lesson-absolute-day-time-slot-please-select-text Please select a date to list the available times to create a lesson.
    .header-top-wrapper
      .header-top-title Tutor Details
      .header-top-content 
        a(href="/student").header-top-open-slot-button Find tutors
        .header-top-open-slot-rating-content(style="background-color:white;color:#464646;") 
          .header-top-content-student-core-info #{student.name} #{student.surname}
          span(style="font-size:10px;") Student
        .student-account-placeholder-photo
          img(src="/res/images/student.svg", alt="student placeholder photo")
    .inner-main-wrapper 
      .tutor-main-wrapper 
        .tutor-main-wrapper-title Tutor        
        .tutor-main-wrapper-main-content-wrapper
          .tutor-main-core-info-wrapper 
            .tutor-main-image-wrapper 
              img(src=tutor.profile_photo, alt=`${tutor.name} ${tutor.surname}`)
            .tutor-main-core-text-info-wrapper 
              .tutor-main-core-name-surname-wrapper #{tutor.name} #{tutor.surname}
              a(href=`mailto:${tutor.email}`).tutor-main-core-email-wrapper E-posta Gönder
            .tutor-main-core-rating-wrapper 
              div #{tutor.rating}
              span overall rating
          .tutor-each-feature-content
            .tutor-each-feature-content-title EDUCATION DETAILS / PROGRAM 
            div(style="font-size: 12px;") Studying in #{school.name} at level #{tutor.level}. Following the #{tutor.program.toUpperCase()} program.
          .tutor-each-feature-content
            .tutor-each-feature-content-title QUALIFIED SUBJECTS / RESPONSIBLE OF
            .tutor-each-feature-content-subjects-main-content
              each subject in tutor.subjects 
                .each-subject-content #{subject}
          .tutor-each-feature-content 
            .tutor-each-feature-content-title ABOUT / BIOGRAPHY 
            div(style="font-size: 12px;") #{tutor.about}
      .tutor-main-lessons-wrapper(style="width: 100%; margin-right: 50px;")
        .tutor-main-wrapper-title Lessons
        .tutor-main-wrapper-main-content-wrapper(style="width: 100%")
          .create-meeting-submit-button(class="submit-button" style="margin: 0; font-size: 14px;") + Create Lesson
          .tutor-main-wrapper-lessons-main-wrapper 
            each session in sessions 
              .each-tutor-student-lesson-content 
                .each-tutor-student-lesson-info-content
                  .tutor-student-lesson-info-content-main-date #{(new Date(session.date)).toLocaleDateString("en-EN", {day: "numeric", month: "short"})}
                  .tutor-student-lesson-info-content-core-info
                    .tutor-student-lesson-day-time-info #{(new Date(session.date)).toLocaleDateString("en-EN", {weekday: "long"})} - #{session.startTime} - #{session.finishTime}
                    a(href=`https://${tutor.link}` target="_blank").tutor-student-lesson-zoom-link-info 📹 Zoom
                a(href=`/student/lessons#${session._id}`).each-tutor-student-lesson-result-content ▶
